.Sidebar {
	display: flex;
	flex-direction: column;
	background-color: #282c34;
	min-height: 100vh;
	gap: 8px;
	padding: 0 8px;
}

.header {
	font-size: calc(10px + 2vmin);
	color: white;
}

a {
	color: #61dafb;
	font-size: calc(2px + 2vmin);
}